code {
  color: #E01A76
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.centered-component-content {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.account-error {
  color: red;
}

.table thead th {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

table th, .table td {
  border-top: 1px solid black;
}
